.header {
  &__items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.search {
  position: relative;

  &__field {
    display: flex;
    align-items: center;
   
  }

  &__input {
    cursor: text;
    font-family: Poppins;
    padding-left: 70px;
    font-size: 16px;
    color: #68676E;
    background-color: #1e1a32;
    width: rem(270);
    height: rem(50);
    border-radius: 10px;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    align-self: center;
    background-color: #1e1a32;
    width: rem(26);
    margin-left: 25px;
    img {
      width: rem(26);
    }
  }

  &__hint {}
}

.tools {
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, rem(30)));
  gap: clamp(rem(4), 2vw, rem(8));
  align-items: center;
  justify-content: start;

  &>* {
    min-width: 0;
  }

  &__mode {
    cursor: pointer;

    &-item {
      align-self: center;
      background-color: #131129;
      width: rem(28);

      img {
        width: rem(20);
      }
    }
  }

  &__bell {
    cursor: pointer;

    &-item {
      align-self: center;
      background-color: #131129;
      width: rem(28);

      img {
        width: rem(17);
      }
    }
  }

  &__profile {
    cursor: pointer;
    padding-left: rem(15);

    &-item {
      align-self: center;
      background-color: #131129;
      width: rem(28);

      img {
        width: rem(40);
      }
    }
  }
}

.burger{
  border-radius: 20px;
  width: rem(50);
  img{
    width: 100%;
  }
}



//media



@media screen and (max-width: 767px) {

  .header {
  &__items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.burger{
  width: rem(42);
}
.search {
  &__input {
    width: rem(120);
       padding-left:50px;
           font-size: 14px;
           height: rem(40);
  }
  &__button {
    cursor: pointer;
    position: absolute;
    align-self: center;
    background-color: #1e1a32;
    width: rem(25);
    margin-left: 15px;
    


    img {
      width: rem(22);
    }
  }
}


.tools {
  gap: clamp(rem(1), 2vw, rem(2.5));
  &__mode {
    &-item {
      width: rem(17);
      img {
        width: rem(17);
      }
    }
  }

  &__bell {
    cursor: pointer;
    &-item {
      align-self: center;
      background-color: #131129;
      width: rem(17);

      img {
        width: rem(15);
      }
    }
  }

  &__profile {
    padding-left: rem(5);
    &-item {

      width: rem(37);
      img {
        width: rem(37);
      }
    }
  }
}

}
