.main {
  font-family: 'Poppins';
  width: 95%;
  margin: 20px 20px;

  .content {
    margin-top: 40px;

    &__items {}
  }
}

@import '../main/header';
@import '../main/topsection';
@import '../main/discover';
@import '../main/nft';
@import '../main/buttons';
